---
import Layout from '~/layouts/Base.astro';
import Hello from '~/components/Hello.astro';
import Counter from '~/components/Counter';
---

<Layout>
  <h1>NATS Dashboard</h1>
  <Hello name="Astro" />
  <Counter client:visible />
</Layout>
