---
import '~/styles/global.css';
import HeadMeta, {
  type Props as HeadMetaProps,
} from '~/components/HeadMeta.astro';
import Sidebar from '~/components/Sidebar';

interface Props {
  meta?: HeadMetaProps;
}

const { meta } = Astro.props;
---

<html lang="en" class="h-full">
  <HeadMeta {...meta}>
    <!-- Site Theme -->
    <script is:inline>
      try {
        if (
          localStorage.darkMode === 'true' ||
          (!('darkMode' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      } catch (_) {}
    </script>

    <!-- Font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </HeadMeta>

  <body class="h-full bg-white dark:bg-gray-900">
    <div>
      <Sidebar client:load />

      <div class="lg:pl-72">
        <slot />
      </div>
    </div>
  </body>
</html>
