---
import '~/styles/global.css';
import Sidebar from '~/components/Sidebar';
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NATS Web Dashboard</title>
    <meta name="generator" content={Astro.generator} />

    <!-- Site Theme -->
    <script is:inline>
      try {
        if (
          localStorage.darkMode === 'true' ||
          (!('darkMode' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      } catch (_) {}
    </script>

    <!-- Font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="h-full bg-white dark:bg-gray-900">
    <div>
      <Sidebar client:load />

      <div class="lg:pl-72">
        <slot />
      </div>
    </div>
  </body>
</html>
